:root {
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);

  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}
.container {
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  width: 100vw;
  height: 100vh;
  background-color: var(--paleBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 20vw;
  height: 65vh;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
}

.img {
  width: 100%;
  /* position: absolute; */
  /* top: 0; */
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-weight: 900;
  color: var(--darkBlue);
}

.description {
  text-align: center;
  padding: 0 20px;
  color: var(--darkBlue);
}

.planContainer {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--veryPaleBlue);
}

.planLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.annualSection p {
  margin: 0 15px;
  font-size: 14px;
}
.annualSection p:nth-child(1) {
  font-weight: 900;
  color: var(--darkBlue);
}

.annualSection p:nth-child(2) {
  color: var(--desaturatedBlue);
}

.change {
  border: none;
  background: none;
  color: var(--brightBlue);
  font-weight: 700;
  text-decoration: underline;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.payment {
  margin: 10px;
  width: 90%;
  border: none;
  background-color: var(--brightBlue);
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  box-shadow: 0 0 4px 4px var(--paleBlue);
}
.cancel {
  border: none;
  background: none;
  color: var(--desaturatedBlue);
  border-radius: 10px;
  padding: 20px;
  font-weight: 700;
}

.payment:active {
  background-color: hsla(245, 75%, 52%, 0.5);
}
.change:active,
.cancel:active {
  color: hsla(245, 75%, 52%, 0.5);
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) and (min-width: 275px) {
  .container {
    background-image: url("./images/pattern-background-mobile.svg") cover;
    background-repeat: repeat-x;
    width: 100vw;
    height: 100vh;
  }

  .card {
    width: 90vw;
    height: 75vh;
  }
}
